<div class="main-container">
    <div class="top-header">
        <div class="left-content">
            <p>Drag & Drop</p>
            <span>(locked)</span>
        </div>
        <div class="right-content">
            <button>
                <div class="material-symbols-outlined">
                    lock_open
                </div>
                <p>
                    UNLOCK
                </p>
            </button>
            <button disabled>
                <span class="material-symbols-outlined">
                    visibility
                </span>
                <p>SAVE AND PREVIEW
                </p>
            </button>
        </div>
    </div>
    
    <div class="sections">
        <div class="ques">
            <span class="material-symbols-outlined">edit</span>
            <p>Question Properties</p>
        </div>
        <div class="divider"></div>
        <div class="ques">
            <span>2</span>
            <p>Question Content</p>
        </div>
    </div>
</div>