.header {
    padding: 10px 28px;
    background: #3C4E62;
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}
.header > img {
    width: 28px;
    color: #3FD28B;
}
.header > p {
    font-weight: 500;
    color: #fff;
    letter-spacing: .4px;
    margin-left: 150px;
}
.buttons > button {
    background: #3FD28B;
    font-weight: 600;
    padding: 5px 19px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-right: 16px;
}
.buttons > button:disabled {
    background: #3D8372;
    color: #355154;
}